
<div class="ui secondary vertical menu">
  {{#each post in model}}
  
    {{#link-to "posts.show" post class="item"}}
      {{post.name}}
      <i class="remove icon" {{action "deletePost" post}}></i>
    {{/link-to}} 
  {{/each}}
  
</div>

{{#link-to "posts.new"}}New Post{{/link-to}}
<div>{{outlet}}</div>



