
{{#each post in model}}
  <div>{{#link-to "posts.show" post}}{{post.name}}{{/link-to}}
    {{#link-to "posts.edit" post}}[E]{{/link-to}}
    <span class="span-btn" {{action "deletePost" post}}>[X]</span>
  </div>
{{/each}}

{{#link-to "posts.new"}}New Post{{/link-to}}


{{outlet}}