{{input value=model.name type=text placeholder="Name..."}}
{{input value=model.description type=text placeholder="Description..."}}
{{input value=model.photo type=text placeholder="Photo Url"}}


<button {{action "updatePost"}}>Update Post</button>
{{#link-to "posts"}}Cancel{{/link-to}}

